@import '~scss/variables';

.topbar {
    height: $topbar-height;
    background: $primary;
    display: flex;
    align-items: center;
    color: $secondary;
    padding: 0 25px;
    box-shadow: 0px 2px 5px 0px $sidebar-shadow-color;

    .title, .link {
        cursor: pointer;
    }
    
    .title-container {

        .title {
            font-size: 32px;
        }

    }

}

@media (max-width: $small-screen) {
    .link-container {
        display: none;
    }
    
    .title-container {
        width: 100% !important;
        .title {
            font-size: 1.5rem !important;
        }
    }
}