@import '~scss/variables';

.topbar {
    height: $topbar-height;
    background: $primary;
    display: flex;
    align-items: center;
    color: $secondary;
    box-shadow: 0px 2px 5px 0px $sidebar-shadow-color;

    .title-container {

        padding: 0 25px;
        width: $sidebar-width;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {

            .line path {
                stroke-dashoffset: 0;
            }

            .title {
                color: $tercary;
            }

            .icon {
                transform: rotateZ(-25deg) scale(1.1);

                path {
                    fill: $tercary !important;
                }
            }
        }

        .line {
            position: absolute;
            left: 67px;
            top: 53px;
            path {
                transition: stroke-dashoffset 600ms ease-out;
                stroke-dasharray: 200;
                stroke-dashoffset: 200;
            }
        }

        .icon {
            width: 35px;
            height: 35px;
            will-change: transform;
            transition: transform 0.4s;
            transform: rotateZ(-45deg) translateY(-5px);

            path {
                transition: fill 0.4s;
            }
        }

        .title {
            font-size: 26px;
            transition: color 0.4s;
            color: $secondary;
            display: inline-block;
            margin-left: 5px;
        }
    }

    .search-container {

        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;

        input {
            height: 60%;
            width: 80%;
            max-width: 500px;
            font-size: 20px;
            font-family: "Titan One", cursive;
            color: $secondary;
            background: transparent;
            border: none;
            outline-width: 0 !important;
            border: 1px solid $secondary;
            border-top: none;
            border-right: none;
            padding: 0 10px;
            transition: border-color 0.6s, color 0.6s;

            &:focus {
                border-color: $tercary;
                color: $tercary;
            }
        }
        
        svg {
            margin-left: 12px;
            width: 36px;
            height: 36px;
            fill: $secondary !important;
            position: absolute;
            left: 680px;
        }
    }
}

@media (max-width: $small-screen) {
    .link-container, .search-container {
        display: none !important;
    }
    
    .title {
        font-size: 20px !important;
    }

}

@media (max-width: 868px) {
    .search-container svg{
        left: 78.1% !important;
    }
}