@import '~scss/variables';


.topbar {
  height: $topbar-height;
  background: $primary;
  color: $white;
  display: flex;
  align-items: center;

  .title-container {
    padding: 0 27px;
    width: calc($sidebar-width - 2px);
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: text-shadow 200ms ease-in-out;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 28px;
      left: 30px;
      border-radius: 4px;
      transform: scale(0);
      transition: all 0.5s ease;
      will-change: transform;
      background: $accent;
    }

    &:hover {
      text-shadow: 0 -1px $primary, 0 1px $primary;

      &:before {
        border-radius: 50%;
        transform: scale(22);
      }

      .line path {
        stroke: $primary !important;
        stroke-dashoffset: 0;
      }

      .title {
        color: $primary;
      }

      .icon {
        transform: rotateZ(-25deg) scale(1.1);
        path {
            fill: $primary !important;
        }
      }
    }

    .line {
      position: absolute;
      left: 67px;
      top: 53px;
      path {
        stroke: $accent !important;
        transition: stroke 400ms ease-out,
                    stroke-dashoffset 400ms ease-out,
        ;
        stroke-dasharray: 200;
        stroke-dashoffset: 200;
      }
    }

    .icon {
      width: 35px;
      height: 35px;
      will-change: transform;
      transition: transform 0.4s;
      transform: rotateZ(-45deg) translateY(-5px);

      path {
        transition: fill 0.4s;
        fill: $accent !important;
      }
    }

    .title {
      font-size: $brand-title-size;
      transition: color 0.4s;
      color: $accent;
      display: inline-block;
      margin-left: 5px;
      position: relative;
    }
  }

  .rest-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $primary;
  }
}

@media #{$small-and-down} {
  .title {
    font-size: 26px !important;
  }
  .line {
    width: 112px !important;
  }
}

@media #{$medium-and-up} {
  .title-container {
    position: absolute !important;
    height: $topbar-height !important;
  }
  .rest-container {
    margin-left: $sidebar-width !important;
  }
}

@media (min-width: $topbar-container-lock) {
  .topbar {
    padding-right: 35px;
  }
  .rest-container {
    margin: 0 auto !important;
    max-width: 1280px;
    padding: 0 -7px !important;
  }
}

@media #{$medium-and-down} {
  .topbar {
    border-bottom: 2px solid $primary;
  }

  .rest-container {
    border-bottom: none !important;
  }
}

@-moz-document url-prefix() {
    .search-container svg {
      animation: none !important;
      fill-opacity: 1 !important;
      transition: fill 0.3s, transform 0.5s !important;
      transform: translateY(-80px) !important;
    }
    .levitation {
      animation: none !important;
    }
}

