@import '~scss/variables';

.add-bucket-action-container {

  input[type="color"] {
    position: absolute;
    mix-blend-mode: screen;
    width: 45px;
    height: 55px;
  }

  svg {
    width: 45px;
    height: 45px;
  }
}
