@import '~scss/variables';

:host {
  display: block;

  .link-container {
    border-bottom: 1px solid $primary;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    transition: background 0.05s 0.05s ease-in-out;

    .link-action {
      display: flex;
    }

    .link-info {
      .link-date {
        color: $secondary-text;
      }
    }
  }

  .link-title {
    white-space: pre-line;
  }
}
