@import '~scss/variables';

.buckets-container {
  height: 100%;
  margin-bottom: $ribon-sidebar-height;
}

.links-wrapper {
  height: calc(100% - (56px));
  overflow: hidden;
}

.links-container {
  height: 100%;
  width: calc(100% + 15px);
  overflow-y: scroll;
  padding-left: 0px;
  core-link {
    margin: 4px;
  }
}

.buckets-empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media #{$extra-large-and-up} {
  .buckets-container {
    margin-bottom: inherit !important;
  }
}

