<div class="row nomargin">
  <h1>Buckets list</h1>
  <div class="wip-actions">
    <core-add-bucket (hasBeenCreated)="handleCreation($event)"></core-add-bucket>
  </div>
</div>
<div class="row" [hidden]="!buckets.length">
  <div *ngIf="!buckets.length" class="buckets-empty">
    <span class="text">Your bucket list seems empty...</span>
  </div>
</div>
<div class="buckets-container row">
  <core-bucket *ngFor="let bucket of buckets | reverse" [bucket]="bucket">
    <div class="links-wrapper">
      <ul [ngStyle]="{'border-left': '5px solid ' + bucket.color}" class="links-container for-bucket-{{bucket.id}}" [dragula]='"bag-link"' [dragulaModel]='bucket.links'>
        <core-link class="link-item link-{{link.id}}" *ngFor="let link of bucket.links" [link]="link"></core-link>
      </ul>
    </div>
  </core-bucket>
</div>
