@import '~scss/variables';

:host {
  display: inline-block;
  padding: 1rem;
  width: 100%;
}

.buckets-container {
  height: 100%;
  margin-bottom: $ribon-sidebar-height;
}

.buckets-empty + .add-bucket-container {
  height: 250px;
  display: flex;
  justify-content: center;
}

.buckets-empty + .add-bucket-container /deep/ .placeholder {
  transition: opacity 0.1s 0.5s ease, width 0.4s 0.1s linear !important;
}

.add-bucket-container {

  .wip-actions {
    display: flex;
    justify-content: space-between;
  }

}

.links-wrapper {
  height: calc(100% - 56px);
  overflow: hidden;
}

.links-container {
  height: 100%;
  width: calc(100% + 15px);
  overflow-y: scroll;
  padding-left: 0px;
  core-link {
    margin: 4px;
  }
}

.buckets-empty {
  width: 100%;
  height: 100%;
  padding: 6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $disabled;

  .text {
    display: block;
    width: 100%;
    min-width: 250px;
    max-width: 450px;
    font-size: 28px;
    text-align: center;
  }
}

@media #{$small-and-down} {
  .buckets-empty .text {
    font-size: 16px;
  }
}

@media #{$extra-large-and-up} {
  .buckets-container {
    margin-bottom: inherit !important;
  }
}

