@import '~scss/variables';

.login, .forgot, .register {
    width: 100%;
    height: 80% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .form-group {

        margin: 15px 0;
        position: relative;

    }
}
