@import '~scss/variables';

.AuthOFF {
  ng-sidebar-container {
    height: 100% !important;
  }

  .container {
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
    height: 100%;
    width: 100% !important;
  }

  .wrapper {
    background: $primary !important;
    border: none !important;
    height: 100%;
    width: 100%;
  }
}

.login, .forgot, .register {

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;

  &-container {
    width: 572px;
    color: $white;
    padding: 8rem 5rem 5rem 5rem;
    background: rgba(0, 0, 0, 0.1);
    position: relative;
  }

  svg {
    cursor: pointer;
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 48px;
    width: 48px;
    fill: $white;
    transition: transform 0.3s ease,
                fill 0.3s ease;
    will-change: transform;

    &:hover {
      fill: $accent;
      transform: translateX(-50%) rotate(10deg) scale(1.2);
    }
  }

  h1, p, form {
    margin-bottom: 2rem;
  }

  .form-group {
    margin: 1.2rem 0;
    position: relative;

    input {
      width: 210px;
    }
  }

  button {
    margin-left: $form-margin-label;
    color: $white;
    &:disabled {
      color: $disabled;
    }
  }
}

@media #{$medium-and-down} {
  .AuthOFF .container {
    padding-left: 0 !important;
  }

  .AuthON .container  {
    padding-left: 3vw !important;
  }
}

@media #{$small-and-down} {
  .login, .forgot, .register {
    &-container {
      padding: 5rem 5vw;
      width: 100%;

      svg {
        top: 1rem;
      }

      input {
        width: 100% !important;
      }

      .btn {
        width: 100%;
        button {
          margin: 0;
          width: 100%;
        }
      }
    }
  }
}

@media (max-height: 798px) {
  .login, .forgot, .register {
    svg {
      top: 4vh !important;
    }
    &-container {
      height: inherit;
      padding-top: 15vh !important;
    }
  }
}
