@import '~scss/variables';

.btn {
    display: inline-block !important;
    height: $btn-height;
}

button {
    display: inline-block !important;
    line-height: 37px;
    height: calc(#{$btn-height} - 2px);
    background: $secondary;
    color: $primary;

    font-size: 16px;

    border: 1px solid $light-grey;
    border-bottom-width: 4px;
    border-radius: 17px;

    padding: 0 25px;
    outline-width: 0 !important;

    transition: background $btn-transition-time, color $btn-transition-time;

    &:hover {
        transform: translateY(1px) !important;
        border-bottom-width: 3px !important;
        height: calc(#{$btn-height} - 3px) !important;
    }

    &:active {
        transform: translateY(4px) !important;
        border-bottom-width: 1px !important;
        height: calc(#{$btn-height} - 5px) !important;
        line-height: calc(#{$btn-height} - 7px) !important;
    }

    &:disabled {
        background: $light-grey;
        cursor: not-allowed !important;
        color: $disabled;
        border-color: $disabled;
        height: calc(#{$btn-height} - 2px) !important;
        &:hover {
            transform: none !important;
            border-bottom-width: 4px !important;
        }
    }
}
