@import '~scss/variables';

.form-group {

  margin: 1.5rem 0;

  input[type="color"] {
    padding: 0;
    border: none !important;
    width: 50px;
    height: 50px;
  }

  input {
    font-size: 17px;
    height: $input-height;
    padding: 0.8rem 0.5rem;
    outline-width: 0px !important;
    position: relative;
    border: none;
    border-bottom: 4px solid $placeholder-color;
    display: inline-block;
    background: $primary-light;
    color: $white !important;

    &:focus, &:focus + label {
      border-color: $accent !important;
    }

    &::-webkit-input-placeholder {
      color: $placeholder-color;
      user-select: none !important;
    }
    &:-ms-input-placeholder {
      color: $placeholder-color;
      user-select: none !important;
    }
    &::-moz-placeholder {
      color: $placeholder-color;
      user-select: none !important;
    }
    &:-moz-placeholder {
      color: $placeholder-color;
      user-select: none !important;
    }
  }

  label {
    display: inline-block;
    position: relative;
    padding: 0.8rem 0;
    font-weight: bold;
    color: 20px;
    float: left;
    width: 150px;
  }

  input.ng-valid {
    color: green;
    border-color: green;
  }

  .form-msgs p {
    padding: 1.5rem 0 1.5rem $form-margin-label;
    color: $error;
    font-size: 16px;
  }
}
