<div class="row nomargin" *ngIf="bucket?.links?.length">
  <h1>A Bucket</h1>
  <div class="search-container flex-centered">
    <div class="search-container-action">
      <span class="sort-by-timestamp">
          <i class="fa fa-clock-o"></i>
        </span>
      <span class="sort-by-name">
          <i class="fa fa-sort-alpha-asc"></i>
        </span>
    </div>
    <div class="form-group">
      <input placeholder="search" (keyup)="search($event.target.value)" />
    </div>
    <span class="search-container-nbitems">{{filteredLinks && filteredLinks.length}} item(s)</span>
  </div>
  <div class="bucker">
    <div class="color-box">{{bucket?.color}}</div>
    <div class="bucket-name">{{bucket?.name}}</div>
  </div>
  <div class="empty-links">
    <div *ngIf="!bucket?.links.length" class="links-empty">
      <span class="text">List seems empty...</span>
    </div>
  </div>
  <ul class="links-container" *ngIf="bucket?.Links?.length">
    <core-link *ngFor="let link of filteredLinks" [link]="link"></core-link>
  </ul>
</div>
