<section class="login">
  <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value, loginForm.valid)" *ngIf="!isAuth()">
    <div class="form-group">
      <input class="form-control" type="email" placeholder="Email" formControlName="email">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" placeholder="Password" formControlName="password">
    </div>
    <div class="btn">
      <button type="submit" class="btn btn-default"  [disabled]="!loginForm.valid">SUBMIT</button>
    </div>
  </form>
  <div *ngIf="isAuth()">Already connected</div>
</section>