<section class="login" *ngIf="!isAuth()">
  <h1>Log In to Bucket Link</h1>
  <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value, loginForm.valid)">
    <div class="form-group">
      <input type="email" placeholder="john.doe@bucket.link" formControlName="email">
      <label for="email">Email</label>
    </div>
    <div class="form-group">
      <input type="password" placeholder="••••••••••••" formControlName="password">
      <label for="password">PASSPHRASE</label>
    </div>
    <div class="btn">
      <button type="submit" [disabled]="!loginForm.valid">Log In</button>
    </div>
  </form>
</section>
<div *ngIf="isAuth()">Already connected</div>
