@import '~scss/variables';

:host {
  display: block;
}

// Full mode
/deep/ core-bucket.full .bucket-container {
  height: 25vw;
  min-height: 250px;
  position: relative;
  margin-bottom: 20px;
  background-color: lightgrey;
  border-radius: 10px;

  .bucket-info {
    margin: 6px 0 0;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: white;
    transition: background 0.125s ease-in-out;

    &-container {
      padding: 0 12px;
      width: calc(100% - 60px);
      height: 100%;
      display: flex;
      overflow: hidden;
      position: relative;
      justify-content: center;
      flex-direction: column;

      &:before {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        left: -10px;
        transition: transform 0.3s ease;
        will-change: transform;
        transform: scale(0);
        background: $primary;
      }

      &.selected {
        // color: $accent;
        // &:before {
        //   transform: scale(45);
        // }

        // &:after {
        //   transform: scaleY(1);
        // }
      }

      &:after {
        content: "";
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-left: 5px solid $accent;
        transition: transform 0.15s ease-in-out;
        transform: scaleY(0);
      }

    }

    &-item {
      position: relative;
      z-index: 20;
      transition: color 0.125s ease;
    }

    &-item::first-letter {
      transition: color 0.125s ease-in-out;
      text-transform: capitalize;
    }
    &-item.title, &-item.date {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre-line;
    }
    &-item.title {
      font-weight: bold;
      font-size: 1.3rem;
      margin-bottom: 3px;
    }
    &-item.date {
      font-size: 0.8rem;
      color: white;
    }
    &-action {
      height: 100%;
      width: 96px;
      color: $black;
      font-size: 1.5rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .bucket-action {
        cursor: pointer;
        width: 48px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.1);
        svg {
          fill: $white;
          transition: fill 0.125s ease;
        }
        &:hover {
          svg {
            fill: $accent;
          }
          .click-target:before {
            border-color: $accent !important;
          }
          .click-target:after {
            background: $accent;
          }
        }
        i {
          margin: 0 2px;
          cursor: pointer;
          color: $white;
        }
      }
    }
  }

    // commponent in edit mode
  &.edit {
    & .bucket-info, & .bucket-info .bucket-action i {
      color: $primary-text;
    }
    input[type="text"] {
      max-width: 180px;
      display: block;
    }
  }
}

/deep/ core-bucket.collapsed .bucket-container {
  
}

/deep/ core-bucket.list .bucket-container {

}

// FULL - UNCATEGORIZED BUCKET
/deep/ core-bucket.full .bucket-container.uncategorized {
  .bucket-info {
    user-select: none !important;
    text-align: center;
    background-color: $disabled!important;
    color: white;
    .bucket-info-item.title {
      color: white;
    }
    &:hover {
      background: inherit;
      color: inherit;
      .bucket-info-item.title {
         color: white;
      }
      &-container, &-item.title, &-item.date, i {
        cursor: default !important;
        &:hover {
          color: inherit;
        }
      }
    }
    &-container {
      width: 100%;
      border: none;
      &:hover {
        color: inherit !important;
        background: inherit !important;
      }
      &:after {
        display: none !important;
      }
    }
    &-container, &-item.title, &-item.date, i {
      cursor: default !important;
      &:hover {
        color: inherit;
      }
    }
  }
}

// TODO: apply one of the following before each media declaration
//  /deep/ core-bucket.full
//  /deep/ core-bucket.collapsed
//  /deep/ core-bucket.list

@media (min-width: 2000px) { :host { width: 20% !important; } }
@media (min-width: 2300px) { :host { width: 16.66% !important; } }
@media (min-width: 2600px) { :host { width: 14.28% !important; } }
@media (min-width: 2900px) { :host { width: 12.5% !important; } }
@media (min-width: 3200px) { :host { width: 11.11% !important; } }
@media (min-width: 3600px) { :host { width: 10% !important; } }

@media #{$medium-and-down} {
  .bucket-container {
    height: 30vh;
  }
}

@media #{$large-and-up} {
  .bucket-info-container.active:before {
    transform: scale(25) !important;
  }
}

@media #{$medium-and-up} {
  .bucket-info-container.active:before {
    transform: scale(35) !important;
  }
}

@media #{$medium-and-down} {
  .bucket-info-container.active:before {
    transform: scale(45) !important;
  }
}
