@import '~scss/variables';

:host {
  display: block;
}

.bucket-container {
  height: 25vw;
  min-height: 250px;
  max-height: 355px;
  position: relative;
  margin-bottom: 20px;
  background-color: lightgrey;
  border-radius: 10px;

  .bucket-info {
    margin: 6px 0 0;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: white;
    transition: background 0.125s ease-in-out;

    &-container {
      padding: 0 12px;
      width: calc(100% - 60px);
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      &.selected {
        color: $accent;
        background: $primary;
        &:after {
          transform: scaleY(1);
        }
        &:hover {
          background: $primary !important;
        }
      }

      &:after {
        content: "";
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-left: 5px solid $accent;
        transition: transform 0.15s ease-in-out;
        transform: scaleY(0);
      }

      // &:hover {
      //   background: #fff;

      //   .bucket-info-item.title {
      //     color: $accent;
      //   }

      //   &:after {
      //     transform: scaleY(1);
      //   }
      // }

    }
    &-item::first-letter {
      transition: color 0.125s ease-in-out;
      text-transform: capitalize;
    }
    &-item.title, &-item.date {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre-line;
    }
    &-item.title {
      font-weight: bold;
      font-size: 1.3rem;
      margin-bottom: 3px;
    }
    &-item.date {
      font-size: 0.8rem;
      color: white;
    }
    &-action {
      height: 100%;
      width: 60px;
      color: $black;
      font-size: 1.5rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .bucket-action {
        height: 100%;
        display: flex;
        align-items: center;
        i {
          margin: 0 2px;
          cursor: pointer;
          color: $white;
          // &:hover {
          //   color: $accent !important;
          // }
        }
      }
    }
  }

    // commponent in edit mode
  &.edit {
    & .bucket-info, & .bucket-info .bucket-action i { 
      color: $primary-text;
    }
  }
}

// UNCATEGORIZED BUCKET
.bucket-container.uncategorized {
  .bucket-info {
    text-align: center;
    background-color: $disabled!important;
    color: white;
    .bucket-info-item.title {
      color: white;
    }
    &:hover {
      background: inherit;
      color: inherit;
      .bucket-info-item.title {
         color: white;
      }
      &-container, &-item.title, &-item.date, i {
        cursor: default !important;
        &:hover {
          color: inherit;
        }
      }
    }
    &-container {
      width: 100%;
      border: none;
      &:hover {
        color: inherit !important;
        background: inherit !important;
      }
      &:after {
        display: none !important;
      }
    }
    &-container, &-item.title, &-item.date, i {
      cursor: default !important;
      &:hover {
        color: inherit;
      }
    }
  }
}

@media #{$extra-large-and-up} {
  .bucket-container {
    // width: 20% !important;
  }
}

@media #{$medium-and-down} {
  .bucket-container {
    height: 30vh;
  }
}
