<div class="bucket-container col s12 m6 xl4" [ngClass]="{'uncategorized': !bucket?.id}">
  <div class="bucket-info" *ngIf="bucket">
    <div class="bucket-info-container" (click)="goToBucket(bucket.id)">
      <div class="bucket-info-item title">{{ bucket?.name }}</div>
      <div class="bucket-info-item date" *ngIf="bucket?.id">{{ bucket?.createdAt }}</div>
    </div>
    <div class="bucket-info-action" *ngIf="bucket?.id">
      <div class="bucket-action"><i aria-hidden="true" class="fa fa-edit"></i></div>
      <div class="bucket-action"><i aria-hidden="true" class="fa fa-share-alt"></i></div>
    </div>
  </div>
  <ng-content></ng-content>
</div>
