@import '~scss/variables';

.colorbox {
  width: 48px;
  height: 48px;
  cursor: pointer;

  &-container {
    border: 4px solid $disabled;
    border-radius: 4px;
    width: 150px;
    background: $grey;
    position: absolute;
    z-index: 3;
    transition: transform 0.2s;
    transform: scale(0);
    transform-origin: 15px 15px;
    transition-timing-function: ease-in-out;
    padding: 3px;

    &:hover {
      border-color: $primary;
    }
  }

  &-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  &-item {
    width: calc(100% * (1/5) - 1px);
    flex-grow: 1;
    height: 22px;
    cursor: pointer;

    &:hover {
      transform: translate(1px, 1px);
    }
    &:active {
      transform: translate(0px, 0px);
    }
  }
}
