<form [formGroup]="editPassword" (ngSubmit)="submitForm(editPassword.value, editPassword.valid)">
  <div class="form-group">
    <label for="password">Old PASSWORD</label>
    <input type="password" placeholder="••••••••••••" formControlName="old_password">
  </div>

  <div class="form-group">
    <label for="password">New PASSWORD</label>
    <input type="password" placeholder="••••••••••••" formControlName="new_password">
  </div>

  <div class="btn">
    <button type="submit" [disabled]="!editPassword.valid">Change Password</button>
  </div>
</form>