@import '~scss/variables';

.container {
  width: 100%;
  padding-top: $marge;
  padding-left: calc(#{$sidebar-width} + #{$marge});
  padding-right: $marge;
}

.wrapper {
  border: 2px solid #eee;
  box-shadow: 0px 0px 1px 0px $black;
  padding: $inner-marge;
  background: $white;
}

.links-wrapper {
  height: calc(100% - (56px));
  overflow: hidden;
}

.trash-for-links {
  display: inline-block;
  position: absolute;
  bottom: 0;
  i {
    color: $error;
    font-size: 56px;
  }
}

.container-for-trash {
  position: absolute;
  bottom: 30px;
  width: 50%;
  left: 50%;
  min-height: 56px;
  transform: translateX(-50%);

  & /deep/ core-link {
  background: red;
  display: none;
  }
}


.ribbon-sidebar-container {
  position: fixed;
  z-index: 30;
  bottom: 0;
  padding: 1.5rem 0;
  height: $ribon-sidebar-height;
  width: calc(100% - #{$sidebar-width} - (#{$marge} * 2) - #{$scrollbar-default-width});
  right: calc($marge + #{$scrollbar-default-width});
  left: calc(#{$sidebar-width} + #{$marge});
  background: $primary-light;
  .ribbon-container {
    width: 100%;
    height: 100%;
    border-bottom: none;
    core-link {
        border-radius: 0 !important;
    }
  }
}

.links-container {
  height: 100%;
  width: calc(100% + #{$scrollbar-default-width});
  overflow-y: scroll;
  padding-left: 0px;
}


.topbar-link {
  height: 100%;
  transition: all 200ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre;
  padding: 0 1.5rem;

  &.user-item {
    span {
      text-indent: 2px;
      text-transform: uppercase;
    }
    i {
      font-size: 26px;
    }
  }

  i {
    color: $white;
  }
  &:hover {
    color: $accent;
    background: $primary;
    i {
      color: $accent;
    }
    svg {
      fill: $accent;
    }
  }

  svg {
    height: 38px;
    width: 38px;
    fill: $white;
    transition: fill 0.2s;
  }
}

@media #{$small-and-down} {
  .ribbon-sidebar-container {
    display: none;
  }
}

@media #{$extra-large-and-up} {
  .container {
    width: calc(100% - #{$ribon-sidebar-width});
  }

  .ribbon-sidebar-container {
    right: $scrollbar-default-width;
    top: $topbar-height;
    bottom: 0;
    padding: 1.5rem 1.5rem 1.5rem 0;
    left: inherit;
    width: calc(#{$ribon-sidebar-width} - #{$marge} + #{$scrollbar-default-width});
    height: calc(100% - #{$topbar-height});
    .ribon-container {
      border-left: 4px solid $disabled;
    }
  }
}

@media #{$medium-and-down} {
  .container {
    width: 100% !important;
    padding: 0 !important;
  }
  .ribbon-sidebar-container {
    left: $marge * 2;
    width: calc(100% - (#{$marge} * 3) - #{$scrollbar-default-width}) !important;
  }

  .topbar-link {
    display: none !important;
  }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}
