@import '~scss/variables';

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  padding-top: 3.5vw;
}

.topbar-link {
  height: 100%;
  transition: all 200ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre;
  justify-content: center;
  padding: 0 1.5rem;

  i {
    color: $white;
  }
  &:hover {
    color: $accent;
    background: $primary;
    i {
      color: $accent;
    }
    svg {
      fill: $accent;
    }
  }

  svg {
    height: 38px;
    width: 38px;
    fill: $white;
    transition: fill 0.2s;
  }
}

ng-sidebar-container {
  &.disconnect {
   /deep/ .ng-sidebar__content {
    margin-left: 0 !important;
    }
  }

}

@media #{$medium-and-down} {
  .topbar-link {
    display: none !important;
  }
}
