<core-topbar>
    <div class="burger-icon" (click)="_toggleSidebar()"></div>
</core-topbar>
<ng-sidebar-container>

  <ng-sidebar [(opened)]="_opened">
    <div class="link-container">
      <div class="link" (click)="navigateToBuckets()">Buckets</div>
      <div class="link" (click)="disconnect()">Logout</div>
    </div>
  </ng-sidebar>

  <!-- Page content -->
  <div class="container" ng-sidebar-content>
    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>

 <!--<router-outlet></router-outlet>-->