<core-topbar [hidden]="!isAuth()">
    <core-add-link (hasBeenCreated)="handleCreation($event)"></core-add-link>
    <div class="burger-icon" (click)="_toggleSidebar()"></div>
</core-topbar>
<ng-sidebar-container>

  <ng-sidebar [hidden]="!isAuth()"
    [(opened)]="_opened"
    [closeOnClickOutside]="_closeOnClickOutside"
    [closeOnClickBackdrop]="_closeOnClickBackdrop"
    [showBackdrop]="_showBackdrop"
  >
    <div class="link-container">
      <div class="link" (click)="navigateToBuckets()">Buckets *</div>
      <div class="link" (click)="navigateToBuckets()">Links *</div>
      <div *ngIf="isAuth()" (click)="logout()" class="link logout" (click)="logout()">Logout</div>
    </div>
  </ng-sidebar>

  <!-- Page content -->
  <div class="container" ng-sidebar-content>
    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>

<!--<router-outlet></router-outlet>-->
