<div class="flex-center">
  <h4>Bucket CSS</h4>
</div>
<!-- Wrappers -->
<div class="card">
  <h5>Wrappers</h5>
  <div class="divider"></div>
  <div class="section">
    <div class="content danger">
      .container
      <div class="section danger-dark">
        .section
        <div class="row warning">
          .row
          <div class="col s12 warning-dark">
            col s12
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Titles -->
<div class="card">
  <h5>Headers</h5>
  <div class="divider"></div>
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h1>h1 Abcd</h1>
        <h2>h2 Abcd</h2>
        <h3>h3 Abcd</h3>
        <h4>h4 Abcd</h4>
        <h5>h5 Abcd</h5>
        <h6>h6 Abcd</h6>
      </div>
    </div>
  </div>
</div>
<!-- Colors -->
<div class="card">
  <h5>Colors</h5>
  <div class="divider"></div>
  <div class="section">
    <div class="row colors">
      <div class="col s4 m3 l2"><div class="black"></div></div>
      <div class="col s4 m3 l2"><div class="white"></div></div>
      <div class="col s4 m3 l2"><div class="grey"></div></div>
      <div class="col s4 m3 l2"><div class="grey-light"></div></div>
      <div class="col s4 m3 l2"><div class="primary-light"></div></div>
      <div class="col s4 m3 l2 white"><div class="primary"></div></div>
      <div class="col s4 m3 l2"><div class="primary-dark"></div></div>
      <div class="col s4 m3 l2"><div class="accent"></div></div>
      <div class="col s4 m3 l2"><div class="red"></div></div>
      <div class="col s4 m3 l2"><div class="pink"></div></div>
      <div class="col s4 m3 l2"><div class="purple"></div></div>
      <div class="col s4 m3 l2"><div class="blue"></div></div>
      <div class="col s4 m3 l2"><div class="cyan"></div></div>
      <div class="col s4 m3 l2"><div class="green"></div></div>
      <div class="col s4 m3 l2"><div class="yellow"></div></div>
      <div class="col s4 m3 l2"><div class="orange"></div></div>
      <div class="col s4 m3 l2"><div class="brown"></div></div>
      <div class="col s4 m3 l2"><div class="danger"></div></div>
      <div class="col s4 m3 l2"><div class="danger-dark"></div></div>
      <div class="col s4 m3 l2"><div class="warning"></div></div>
      <div class="col s4 m3 l2"><div class="warning-dark"></div></div>
      <div class="col s4 m3 l2"><div class="success"></div></div>
      <div class="col s4 m3 l2"><div class="success-dark"></div></div>
      <div class="col s4 m3 l2"><div class="info"></div></div>
      <div class="col s4 m3 l2"><div class="info-dark"></div></div>
    </div>
  </div>
  <h5>Text Colors</h5>
  <div class="divider"></div>
  <div class="section">
    <div class="row colors">
      <div class="col s4 m3 l2"><div class="black-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="white-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="grey-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="grey-light-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="primary-light-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2 white"><div class="primary-text-color flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="primary-dark-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="accent-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="red-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="pink-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="purple-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="blue-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="cyan-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="green-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="yellow-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="orange-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="brown-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="danger-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="danger-dark-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="warning-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="warning-dark-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="success-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="success-dark-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="info-text flex-center"><span>Abcdef Bonjour</span></div></div>
      <div class="col s4 m3 l2"><div class="info-dark-text flex-center"><span>Abcdef Bonjour</span></div></div>
    </div>
  </div>
</div>
<!-- Alignment -->
<div class="section"></div>
<!-- Sidebar -->
<div class="sidebar"></div>
<!-- Bottombar -->
<div class="bottombar"></div>
<!-- Switch -->
<div class="section"></div>
<!-- Input -->
<div class="section"></div>
<!-- Label -->
<div class="section"></div>
<!-- Form -->
<div class="section"></div>
<!-- Form error -->
<div class="section"></div>
<!-- Buttons -->
<div class="section"></div>
<!-- Tables -->
<div class="section"></div>
<!-- Modals -->
<div class="section"></div>
<!-- Images -->
<div class="section"></div>
<!-- Select -->
<div class="section"></div>
<!-- Collections -->
<div class="section">
  <ul>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<!-- Fonts -->
<div class="section"></div>
<!-- Blockquotes -->
<div class="section"></div>
<!-- Paragraphs -->
<div class="section"></div>
<!-- Utils -->
<div class="section"></div>
<!-- Footer -->
<div class="footer"></div>
