<p>Page des boards</p>
<div class="row">
  <div class="boards-container">
    <core-board class="col s12 m6 l4 xl3"></core-board>
    <core-board class="col s12 m6 l4 xl3"></core-board>
    <core-board class="col s12 m6 l4 xl3"></core-board>
    <core-board class="col s12 m6 l4 xl3"></core-board>
    <core-board class="col s12 m6 l4 xl3"></core-board>
    <core-board class="col s12 m6 l4 xl3"></core-board>
    <core-board class="col s12 m6 l4 xl3"></core-board>
    <core-board class="col s12 m6 l4 xl3"></core-board>
  </div>
</div>