@import '~scss/variables';

@keyframes high-up {
    0% {
        transform: translateY(0) rotateZ(0);
    }
    100% {
        transform: translateY(-50px) rotateZ(0);
    }
}

@keyframes levitation {
    0% {
        transform: translateY(0) rotateZ(0deg);
    }
    33% {
        transform: translateY(-3px) rotateZ(3deg);
    }
    66% {
        transform: translateY(-3px) rotateZ(3deg);
    }
    100% {
        transform: translateY(0) rotateZ(0deg);
    }
}

@keyframes glitch {
  0% {
    text-shadow: 1px 2px $primary, 3px 2px $accent;
  }
  25% {
    text-shadow: -4px -2px $primary, -3px -2px $accent;
  }
  50% {
    text-shadow: -4px -2px $primary, -3px -2px $accent;
  }
  75% {
    text-shadow: -4px -2px $primary, -3px -2px $accent;
  }
  100% {
    text-shadow: 1px 2px $primary, 3px 2px $accent;
  }
}
