@import './variables';

.red      { background: $color-box-red !important; }
.pink     { background: $color-box-pink !important; }
.purple   { background: $color-box-purple !important; }
.blue     { background: $color-box-blue !important; }
.cyan     { background: $color-box-cyan !important; }
.green    { background: $color-box-green !important; }
.yellow   { background: $color-box-yellow !important; }
.orange   { background: $color-box-orange !important; }
.brown    { background: $color-box-brown !important; }
.grey     { background: $color-box-grey !important; }
