@import './variables';

@font-face {
  font-family: 'Roboto';
  src: url(assets/fonts/Roboto/Roboto-Regular.woff2);
}

@font-face {
  font-family: 'Chau';
  src: url(assets/fonts/Chau/ChauPhilomeneOne-Regular.ttf);
}

@font-face {
  font-family: 'Archivo';
  src: url(assets/fonts/Archivo/ArchivoBlack-Regular.ttf);
}

.fa {
  color: $primary;
  transition: color 150ms ease-in-out;
  &:hover {
    color: $accent;
  }
}

.topbar {
  font-family: "Chau";
}

body {
  font-family: "Roboto", sans-serif;
}

input {
  font-family: sans-serif !important;
}

input {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Archivo Black', sans-serif;
}
