@font-face {
  font-family: 'Titan One';
  src: url(assets/fonts/TitanOne/TitanOne-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(assets/fonts/Roboto/Roboto-Regular.woff2);
}

@font-face {
  font-family: 'Old';
  src: url(assets/fonts/Old/OldSansBlack.ttf);
}

@font-face {
  font-family: 'Chau';
  src: url(assets/fonts/Chau/ChauPhilomeneOne-Regular.ttf);
}

@font-face {
  font-family: 'Archivo';
  src: url(assets/fonts/Archivo/ArchivoBlack-Regular.ttf);
}

.topbar {
	font-family: "Chau";
}

body {
  font-family: "Roboto", sans-serif;
}

input {
  font-family: sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Black', sans-serif;
}