@import './variables';

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background: $primary;
  color: $white;
}

html, body {
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  position: relative;
  top: 0;
  left: 0;

  color: $primary-text;
  font-size: $font-size;
}

html {
  background: $primary-light;
}

// disable user-select in:
.topbar, .btn, button {
  user-select: none;
}

// cursor elements
input[type="color"],
.bucket-info-container,
.fa,
.sidebar-link,
.title-container,
.search-container svg,
.burger-icon,
button {
  cursor: pointer;
}

.padded {
  padding: 0 0.75rem;
}

.nomargin {
  margin: 0;
}

.flex-centered {
  display: flex;
  align-items: center;
}

.scale {
  transform: scale(1);
}

.inline-block {
  display: inline-block;
}

.hide {
  opacity: 0;
}
