@import './variables';

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  position: relative;
  top: 0;
  left: 0;

  background: $white;
  color: $primary;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: $global-h1;
}

h2 {
  font-size: $global-h2;
}

h3 {
  font-size: $global-h3;
}

// disable user-select in:
.topbar, ng-sidebar-container, .btn, button {
  user-select: none !important;
}

// cursor elements
input[type="color"],
.bucket-info-container,
.fa,
.sidebar-link,
.title-container,
.search-container svg,
.burger-icon,
button {
  cursor: pointer !important;
}

.padded {
  padding: 0 0.75rem !important;
}

.nomargin {
  margin: 0 !important;
}

.flex-centered {
  display: flex;
  align-items: center;
}
