// Main Colors
$black: #424B54;
$white: #F5F5F5;
$grey: #dcdcdc;
$light-grey: #D3D3D3;

$primary-light:  #4F4B6E;
$primary:        #34314c;
$primary-dark:   #2a273d;
$accent:         #47b8e0;
$primary-text:   #212121;
$secondary-text: #757575;
$divider-color:  #BDBDBD;
$link-color:     #338fff;

// $primary:  #0049b0;
// $primary:  #1A535C;
// $primary:  #3F3047;
// $accent:   $white;
// $accent:   #0094C6;
// $tercary:  #77FF9B;
// $tercary:  #77FF9B;

// Contextual colors
$disabled: #9A9A9A;
$error: red;

// color input
$color-box-red:     #f44336;
$color-box-pink:    #e91e63;
$color-box-purple:  #9c27b0;
$color-box-blue:    #2196f3;
$color-box-cyan:    #00bcd4;
$color-box-green:   #4caf50;
$color-box-yellow:  #f1c40f;
$color-box-orange:  #ff9800;
$color-box-brown:   #795548;
$color-box-grey:      $disabled;

// Layout
$marge: 1vw;
$inner-marge: 1.5vw;

// Grid
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1551px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1250px !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$large-and-down: "only screen and (max-width : #{$large-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$large-only: "only screen and (min-width : #{$medium-screen-up}) and (max-width : #{$large-screen})" !default;
$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

// Title
$global-h1: 36px;
$global-h2: 32px;
$global-h3: 26px;
$global-h4: 22px;
$global-h5: 18px;
$global-h6: 16px;

// Font properties
$font-size: inherit;

// Flow Text
$range : $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;

// Forms
$form-margin-label: 150px;
$placeholder-color: rgba(163, 186, 195, 0.7);
$input-height: 48px;

// Button
$btn-transition-time: 0.2s;
$btn-height: $input-height;

// Links

// Sidebar
$sidebar-width: 224px;
$sidebar-color: $primary;
$sidebar-shadow-color: $black;

// Topbar
$topbar-height: 85px;
$brand-title-size: 30px;
$topbar-border-style: dashed;
$topbar-container-lock: 1795px;

// scroll bar
$scrollbar-default-width: 15px;

// Ribon sidebar
$ribon-sidebar-width: 250px;
$ribon-sidebar-height: 200px;

